body {
    background: #ff6096;
    height: 100vh;
}

h1 {
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: white;
}

.picture-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-me {
    border-radius: 50%;
    min-height: 300px;
    max-height: 60vh;
    border: 3px solid black;
}

.media {
    display: flex;
    justify-content: center;
}

.picture-insta {
    height: 30px;
    margin-top: 20px;
}

.picture-insta:hover {
    height: 40px;
}

@keyframes shades {
    0% { height: 20vh;
        position: fixed;
        top: 0;
        left: 46vw;
        display: none}
    100% {top: 39vh;
        left: 46vw;
        position: fixed;
    display: block;}

}

.shades {
height: 20vh;
position: fixed;
top: 39vh;
left: 46vw;
animation-name: shades;
animation-duration: 4s;

}

@media screen and (max-width: 400px){
    .shades {
        top: 42vh;
        left: 38vw;
    }
    @keyframes shades {
        0% { height: 20vh;
            position: fixed;
            top: 0;
            left: 46vw;
            display: none}
        100% {top: 42vh;
            left: 38vw;
            position: fixed;
        display: block;}
    
    }



}