body {
    background: #ff6096;
    height: 100vh;
    overflow: hidden;
    animation-name: money;
    animation-delay: 3.5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 10vh;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: white;
    margin: 5vh;
    margin-right: 0;
    margin-left: 0;
    animation-name: edge;
    animation-delay: 4s;
    animation-duration: .005s;
    animation-fill-mode: forwards;
}

.picture-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-me {
    border-radius: 50%;
    height: 60vh;
    border: 3px solid black;
    animation-name: golden;
    animation-delay: 3.8s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.media {
    display: flex;
    justify-content: center;
}

.picture-insta {
    height: 5vh;
    margin-top: 5vh;
}

.picture-insta:hover {
    height: 40px;
}

@keyframes shades {
    0% { 
        transform: translateY(0);  
    }
    100% {
        transform: translateY(calc(10vh + 43vh));       
   }

}

.shades {
height: 15vh;
position: absolute;
animation-name: shades;
animation-duration: 4s;
animation-fill-mode: forwards;
top: -10vh;
left: calc(50% - 5.5vh);

}

@media screen and (max-width: 443px){
    h1 {
        font-size: 50px;
    }
    @keyframes shades {
        0% { 
            transform: translateY(0);  
        }
        100% {
            transform: translateY(calc(10vh + 39vh));       
       }

}
}

@keyframes money {
   0% {
    background-image: #ff6096;
    background-repeat: no-repeat;
    background-size: cover;
   }
   100% {
       background-image: url(img/download.jpeg);
       background-repeat: no-repeat;
       background-size: cover;
   }
}

@keyframes edge {
    0% {
        font-family: 'Indie Flower', cursive;
        color: white;

    }
    100% {
        font-family: 'Black Ops One', cursive;
        color: black;
    }
}

@keyframes golden {
    0% {
        border: 3px solid black;

    }
    100% {
        border: 5px solid goldenrod;
    }
}