body {
    background: #ff6096;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 10vh;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: white;
    margin: 5vh;
    margin-right: 0;
    margin-left: 0;
}

.picture-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-me {
    border-radius: 50%;
    height: 60vh;
    border: 3px solid black;
}

.media {
    display: flex;
    justify-content: center;
}

.picture-insta {
    height: 5vh;
    margin-top: 5vh;
}

.picture-insta:hover {
    height: 40px;
}

@keyframes shades {
    0% { 
        transform: translateY(0);  
    }
    100% {
        transform: translateY(calc(10vh + 43vh));       
   }

}

.shades {
height: 15vh;
position: absolute;
animation-name: shades;
animation-duration: 4s;
animation-fill-mode: forwards;
top: -10vh;
left: calc(50% - 5.5vh);

}

@media screen and (max-width: 340px){
    h1 {
        font-size: 50px;
    }
    @keyframes shades {
        0% { 
            transform: translateY(0);  
        }
        100% {
            transform: translateY(calc(10vh + 39vh));       
       }




}